doctype html
html(lang="ru-RU")
  include common/_head
  include common/_mixins
  body

    include common/_preloader
    include common/_ie

    .wrapper.wrapper--welcome.preloader__hidden
      .parallax
        .parallax__layer
          img(src="/assets/img/parallax/layer_009.jpg", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_008.png", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_007.png", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_006.png", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_005.png", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_004.png", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_003.png", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_002.png", alt="" class="parallax__layer-img")
        .parallax__layer
          img(src="/assets/img/parallax/layer_001.png", alt="" class="parallax__layer-img")
        .parallax__layer.parallax__layer__009
          img(src="/assets/img/parallax/layer_000.png", alt="" class="parallax__layer-img")
      .welcome__login
        .login
          a.btn.btn--transparent(href="#",class="btn--show-login",id="btn-show-login") Авторизоваться
      .welcome__card.flip-container
        .flipper
          .card.card--front
            include parts/_welcome__card--front

          .card.card--back
            include parts/_welcome__card--back

    footer.footer.footer--welcome.preloader__hidden
      span.footer--welcome__textline © Екатерина Холявкина
      span.footer--welcome__textline создано с любовью в LoftSchool | 2016
    include common/_modal




