doctype html
html(lang="ru-RU")
  include common/_head
  include common/_mixins


  block body
    body
      include common/_preloader
      include common/_ie

      .top-nav.preloader__hidden
        include parts/_header_nav
      .off-canvas--content.preloader__hidden
        .wrapper
          include parts/_header

          block content 

        include parts/_footer

      .off-canvas--menu.preloader__hidden
        
        block menu 