
.card__bg
  .section-title.section-title--card
    .section-title__inner  Авторизуйтесь

  //- div.card__form--login
  form.form.form--login(action="" method="post")
    .form__input-group
      span.form__input-group-addon
        i.fa.fa-user(aria-hidden='true')
      input.form__input.form--login__input(id="login", name="login" type="text",placeholder="Логин")
    .form__input-group
      span.form__input-group-addon
        i.fa.fa-key(aria-hidden='true')
      input.form__input.form--login__input(id="password", name="password" type="password",placeholder="Пароль")

    .form__input-group.form__input-group--checkbox
      input.checkbox-custom(id="ishuman", name='ishuman', type='checkbox' value='yes')
      label.checkbox-custom-label(for='ishuman') Я человек

    div Вы точно не робот?
    .form__input-group.form__input-group--radios
      .form__radio
        input#notrobot-yes.radio-custom(name='notrobot', type='radio' value='yes')
        label.radio-custom-label(for='notrobot-yes') Да
      .form__radio
        input#notrobot-no.radio-custom(name='notrobot', type='radio'  value='no')
        label.radio-custom-label(for='notrobot-no') Не уверен

    nav.card__welcome-nav
      ul.welcome-nav__list
        li.welcome-nav__item
          a.welcome-nav__link.btn--hide-login(href='/') На главную  
        li.welcome-nav__item
          input(type="submit" id="login-btn" value="Войти").welcome-nav__link

//- nav.card__welcome-nav
  +navigation("welcome-nav", loginpageMenu)