// adjustment variables
$footer_height_phone: 300px;
$footer_height_tablet: 230px;
$footer_height_laptop: 230px;
$footer_height_desktop: 148px;
$skill_circle_diameter: 110px;
$skill_circle_stroke: 20px;
$blog_menu_width: 284px;

// colors welcome
$color_welcome_title: #455a64;
$color_welcome_nav: #00bfa5;
$color_welcome_nav_hover: #009688;
$color_welcome_nav_decor: #dee3e7;
$color_welcome_nav_decor2: #73cac2;

$color_footer_bg: #373e42;

// colors about
$color_section_subtitle: #4d5963;
$color_skills_outer: #16c1a9;
$color_skills_outer_bg: #dfdcd5;

$color_skills_inner: #eeebdf;

$about_left_bg: #efeee9;
$about_right_bg: #eeebdf;
$body_bg: #faf8f0;

$color_contact_icons: #00bda3;

// works colors
$slider_preview_hover: #b6b4ae;
$color_slider_bg: #f0efe9;
$color_slider_skills: #20b5a1;
$color_slider_right: #efebe0;
$color_slider_left: #f0efe9;
$color_quote: #dde0e0;



// fonts
@import 'font-awesome/font-awesome';
@import 'common/fonts';

// mixins
@import 'common/mixins';

// adjustment
@import 'common/adjustment';

// preloader
@import 'common/preloader';

// modal
@import 'common/modal';

// sections
@import 'common/header';
@import 'common/main-menu';
@import 'common/footer';

// socials, buttons, titles 
@import 'common/socials';
@import 'common/titles';
@import 'common/buttons';
@import 'common/forms';

// pages
@import 'pages/welcome';
@import 'pages/welcome/welcome-flipcard';
@import 'pages/welcome/welcome-nav';
@import 'pages/about';
@import 'pages/blog';
@import 'pages/works';

// slider
@import 'common/slider';

// parallax
@import 'common/parallax';
