footer.footer.preloader__hidden

  .footer__nav
    .footer__small-nav
      +navigation("small-nav", mainMenu)
      
    .footer__social
      +socials_navigation("social", "social--footer", socials)

  .footer__texts
    .footer-text.footer-text--left Я веб-разработчик из Киева, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer-text.footer-text--right © Екатерина Холявкина | создано с любовью в LoftSchool | 2016

include ../common/_modal
