.preloader
  .preloader__percents-holder
    .preloader__image
      svg(class="preloader__svg", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='144px', height='144px', viewbox='0 0 144 144', enable-background='new 0 0 144 144', xml:space='preserve')
        circle(class='preloader__circle1', opacity='0.4', fill='none', stroke='#FFFFFF', stroke-width='4',  stroke-miterlimit='10', enable-background='new    ', cx='72', cy='71.999', r='70')
          
        circle(class='preloader__circle2', opacity='0.7', fill='none', stroke='#FFFFFF', stroke-width='3.8938', stroke-miterlimit='10', enable-background='new    ', cx='72', cy='72', r='55')
        
        circle(class='preloader__circle3', opacity='0.9', fill='none', stroke='#FFFFFF', stroke-width='4', stroke-miterlimit='10', cx='72', cy='72', r='40')
          
        .preloader__percents 0


//- page content

//- .preloader__hidden
  img(src="http://desktopwalls.net/wp-content/uploads/2015/09/Hubble%20Deep%20Space%20Nebula%204K%20Ultra%20HD%20Desktop%20Wallpaper.jpg", alt="")
  img(src="http://www.terrastro.com/wp-content/gallery/deep-space-hr/keyhole-nebula-part-of-ngc-3372.jpg", alt="")
  img(src="http://scienceblogs.com/startswithabang/files/2012/08/0124-0610-2618-0055_setting_sun_and_earths_horizon_from_space_o.jpeg", alt="")
  img(src="https://wallpaperscraft.com/image/planet_space_sun_light_stars_62626_3840x2160.jpg", alt="")
  img(src="https://wallpaperscraft.com/image/space_sky_3d_art_97531_1920x1080.jpg", alt="")
  
  img(src="https://images8.alphacoders.com/397/397989.jpg", alt="")
  img(src="http://www.wallpaperscharlie.com/wp-content/uploads/2016/06/Outer-Space-HD-Wallpapers-3.jpg", alt="")
  img(src="http://www.kemecer.com/i/real-space-wallpapers-full-hd.jpg", alt="")
  img(src="http://scienceblogs.com/startswithabang/files/2013/06/0124-0610-2617-4546_rising_sun_and_earths_horizon_from_space_o.jpeg", alt="")
