/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when flip class added */
.flip-container.flip .flipper {
  transform: rotateY(-180deg);
}

.flip-container {
  .flipper,
  .card--front,
  .card--back {
    width: 100%;
    height: 100%;
  }
}
/* flip speed goes here */
.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.card--front, .card--back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */

.card--front {
  z-index: 2;
  transform: rotateY(0deg);
}


/* back, initially hidden pane */

.card--back {
  transform: rotateY(-180deg);
}
