body {
  width: 100%;
  height: 100%;
  margin: 0;
  @include roboto-regular;
  background-color: $body_bg;
  position: relative;
}
html {
  min-width: 320px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  @include phone {
    font-size: 14px;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.6rem;
  @include tablet {
    font-size: 0.875rem;
  }
  @include phone {
    line-height: 1.7rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  // padding-bottom: rem($footer_height_desktop);
  @include clearfix;
  @include laptop {
    // padding-bottom: rem($footer_height_phones);
  }
  .testimonials,
  .blog__articles,
  .map {
    padding-bottom: rem($footer_height_desktop);
    @include laptop {
      padding-bottom: rem($footer_height_laptop);
    }
    @include tablet {
      padding-bottom: rem($footer_height_tablet);
    }
    @include phone {
      padding-bottom: rem($footer_height_phone);
    }
  }
}
.footer {
    height: rem($footer_height_desktop);
    margin-top: rem(-$footer_height_desktop);
    position: relative;
    line-height: 1.75rem;
    background-color: rgba($color_footer_bg, 0.85);
    color: rgba(255,255,255, 0.5);
    @include roboto-light;
    text-align: center;
  @include laptop {
    height: rem($footer_height_laptop);
    margin-top: rem(-$footer_height_laptop);
  }
  @include tablet {
    height: rem($footer_height_tablet);
    margin-top: rem(-$footer_height_tablet);
  }
  @include phone {
    height: rem($footer_height_phone);
    margin-top: rem(-$footer_height_phone);
  }
}
.fixed {
  position: fixed;
}
.overfow-hidden {
  overflow: hidden;
}

.defs-only {
  display: none;
}