.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
}


.table--about {
  width: 100%;
  z-index: 1;
  position: relative;

  @include laptop {
    display: block;
  }

  .row {
    width: 100%;

    @include laptop {
      display: block;
    }
  }
  .cell {
    width: 50%;
    @include clearfix;

    &.cell--left { 
      background-color: $about_left_bg;
      @include laptop {
        padding-bottom: 1.7rem;
      }
    }
    &.cell--right { 
      background-color: $about_right_bg;
      @include laptop {
        padding-top: 1.3rem;
        padding-bottom: 1.7rem;
      }
    }

    @include laptop {
      display: block;
      width: 100%;

    }
  }
}


.aboutme {
  @include clearfix;
  @include wide {
    text-align: right;
    display: flex;
    align-items: flex-start;
  }
  .about__content {
    max-width: 29rem;
    margin: 0 auto;
    
    @include wide {
      display: inline-block;
      vertical-align: top;
      max-width: 29.2rem;
      text-align: left;
      margin-top: 1.3rem;
    }
    @include desktop { 
      display: block;
    }

  }
  .section-title--bg {
    margin-top: -1.3rem;
    padding: 1.45rem 3rem;
    flex-grow: 1;
    @include tablet {
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
    }
  }
}



.about__photo {
  @include phone {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
}





.section-map {
  position: relative;
  @include clearfix;
}
.map { 
  @include fullscreen;
  // height: 100%; 
  box-sizing: content-box;
}

.about__contacts{

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $footer_height_desktop;
  
  background-color: rgba(#fcfcfc, 0.85);
  border-radius: 5px;
  margin: auto;
  max-width: (380 / 16) * 1rem;
  height: (290 / 16) * 1rem;

  @include desktop {
    bottom: $footer_height_desktop;
  }
  @include laptop {
    bottom: $footer_height_laptop;
  }
  @include tablet {
    bottom: $footer_height_tablet;
  }
  @include phone {
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    background-color: #fff;
    max-width: (380 / 14) * 1rem;
    height: (290 / 14) * 1rem;
    border-radius: 0;
  }
}


.section-title--contacts .section-title__inner {
  margin-bottom: 0.8rem;
  margin-top: 1.7rem;
}



.contacts__list {}
.contacts__item {
  margin: 0rem 2.3rem;
  @include phone {
    margin: 0.2rem 0.8rem 0.3rem 0.8rem;
  }
}
.contacts__icon { 
  color: $color_contact_icons;
  font-size: 2rem;
  width: 2.4rem;
  display: inline-block;
}
.contacts__icon .fa.fa-envelope{
  font-size: 1.7rem;

}
.contacts__icon .fa.fa-phone {
  font-size: 1.8rem;
}
.contacts__link {
  @include roboto-medium;
  color: #455a64; 
  &:hover {
    text-decoration: underline;
  }
}
.contacts__text { 
  @include roboto-medium;
  color: #455a64; 
}

.skills-block{
  max-width: 45rem;
  padding-left: 1.6rem;

  @include wide {
    max-width: none;
  }
  @include laptop {
    padding-left: 0;

    margin: 0 auto;
    text-align: center;

    .about__content {
      max-width: 33rem;
      margin: 0 auto;
      text-align: center;
    }
  }


}

.skills {
  font-size: 1rem;
  padding-left: 0.8rem;
  padding-top: 1.5rem;
  @include phone {
    padding-top: 0.7rem;
  }
}


.skills__list {
  text-align: left;

  @include laptop {
    text-align: center;
  }
}

.section-subtitle--skills {
  text-align: left;
  margin-top: 0.4rem;

  @include laptop {
    text-align: center;
    margin-top:  0;
    margin-bottom: 0;
  }

}

.skills__item {
  width: $skill_circle_diameter;
  height: $skill_circle_diameter;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  margin: 0.7rem 1.6rem 1.7rem 0;

  height: 110px;
  width: 110px;
  @include wide {
    height: 120px;
    width: 120px;
  }
  @include wide {
    margin: 0.7rem 2.4rem 1.7rem 0;
  }
}

.skills__circle {
  width: 100%;
  height: 100%;
}
.skills__circle .outer{
  fill: $color_skills_inner;
  stroke: $color_skills_outer_bg;

  @include wide {
    r: 50px;
    cx: 60px;
    cy: 60px;
  }
}
.skills__circle .inner {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 1s;
  stroke: $color_skills_outer;
  fill: transparent;

  @include wide {
    r: 50px;
    cx: 60px;
    cy: 60px;
  }
}

.skills__label-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.skills__label {
  margin: auto;
  text-align: center;
  color: $color_skills_outer;
  @include roboto-medium;
  font-size: rem(13px);
  max-width: $skill_circle_diameter - ($skill_circle_stroke * 2);
  @include phone {
    font-size: 0.91643rem;
  }
}
