
.off-canvas--menu {
  z-index: 2;
  position: absolute;
  top: 100vh;
  width: 25.6%;
  &.fixed {
    position: fixed;
    top: 0 !important;
  }
  @include tablet {
    position: relative;
    top: auto;
    width: auto;
  }
}
.off-canvas--content {
  z-index: 1;
  position: relative;
}
.top-nav {
  z-index: 3;
  position: relative;
}
.off-canvas--content {
  overflow: hidden;
  .wrapper, .footer  {
    transition: transform 0.3s;
    transform: translate(0, 0);

    html.html--blog-opened & {
      transform: translate($blog_menu_width, 0);
    }
  }
}
.header__burger {
  transform: translate(0, 0);
  transition: transform 0.3s;
}
html.html--blog-opened .header__burger {
  transform: translate($blog_menu_width, 0);
}

html.html--blog-opened .top-nav {
  overflow: hidden;
}


.blog__articles {
  margin-left: 28%;

  @include desktop {
    margin-left: 33.5%;
  }
  @include laptop {

  }
  @include tablet {
    margin-left: 0;
  }
  @include phone {
    
  }
}

.off-canvas--menu {

  @include tablet {
    position: fixed;
    width: $blog_menu_width;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 3px 0 3px rgba(0,0,0,.2);
    transition: transform 0.3s;
    transform: translate(-$blog_menu_width, 0);

    html.html--blog-opened & {
      transform: translate(0, 0);
    }

    &:after {
      display: block;
      position: absolute;
      z-index: 1;
      content: '';
      top: 45%;
      left: $blog_menu_width - 60 + 8;
      background-color: $color_welcome_nav;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 3px 0 3px rgba(0,0,0,.2);
    }
  }
}
.blog__blog-nav {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 68px;
  max-width: 24.5rem;
  @include wide {
    padding-left: 6rem;
  }

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: $blog_menu_width;
    background-color: $color_welcome_nav;
    text-align: right;

    padding-top: 0;
  }

}



.blog-nav {}
.blog-nav__list {}
.blog-nav__item {
}
.blog-nav__title {
  @include roboto-regular;
    color: #455a64;
    padding: 0.6rem 1rem 0.6rem 1.3rem;
    text-align: right;
    margin-bottom: 1rem;

  &.blog-nav__title--active {
    @include roboto-bold;
    color: $color_welcome_nav;
    border-right: 3px solid;
  }

  @include tablet {
    color: rgba(#fff, 0.7);
    font-size: 1.135rem;
    line-height: 1.9rem;

    &.blog-nav__title--active {
      @include roboto-bold;
      color: #fff;
      border-right: none;
    }
  }
}

.articles {}
.articles__list {

  max-width: 71.5rem;
  padding-right: 10rem;
  @include desktop {

  }
  @include laptop {
    max-width: none;
  }
  @include tablet {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  @include phone {}
}
.articles__item {
  padding-bottom: 4rem;
  border-top: rem(4px) solid gray;
  padding-top: 4rem;
  &:first-child {
    border-top: none;
  }

  @include tablet {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
.articles__title {
  @include bernier;
  font-size: 2.2rem;
  margin-bottom: 0.9rem;
  margin-top: 0;
  @include tablet {
    font-size: 1.85rem;
    margin-bottom: 0.6rem;
  }
}
.articles__date {
  color: $color_welcome_nav;
  margin-bottom: 1.2rem;
  @include tablet {
    font-size: 0.875rem;
    margin-bottom: 0.6rem;
  }
}
.articles__text {
  line-height: 1.65rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.35rem;
  }
}

