.header {
  background: url(../img/page-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 39.8rem;
  @include fullscreen;
  min-height: rem(410px);
  @include clearfix;
  position: relative;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.header__triangle {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 6.6rem;
  svg {
    width: 100%;
    height: 100%;
    fill: $body_bg;
  }

  .body--about &.header__triangle--left svg {
    fill: $about_left_bg;
  }
  .body--about &.header__triangle--right svg {
    fill: $about_right_bg;
  }

  &.header__triangle--left {
    left: 0;
  }
  &.header__triangle--right {
    right: 0;
  }
  @include wide {
    height: 9.6rem;
  }
  @include tablet {
    height: 4rem;
  }
  @include phone {
    height: 2.1rem;
  }
}

.header__social {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
  @include phone {
    top: 0.35rem;
    left: 0;
  }
}


.header__avatar {
  // margin-top: 9.5rem;
  @include phone {
    // margin-top: 5.7rem;
  }
}
.header__avatar-text {
  margin-top: 1.9rem;
}

.block {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 50%;
  } 
}