.header {
  background: url(../img/page-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 39.8rem;
  @include fullscreen;
  @include clearfix;
  position: relative;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.header__triangle {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 6.6rem;
  svg {
    width: 100%;
    height: 100%;
    fill: $body_bg;
  }

  .body--about &.header__triangle--left svg {
    fill: $about_left_bg;
  }
  .body--about &.header__triangle--right svg {
    fill: $about_right_bg;
  }

  &.header__triangle--left {
    left: 0;
  }
  &.header__triangle--right {
    right: 0;
  }
  @include wide {
    height: 9.6rem;
  }
  @include tablet {
    height: 4rem;
  }
  @include phone {
    height: 2.1rem;
  }
}

.header__social {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
  @include phone {
    top: 0.35rem;
    left: 0;
  }
}


.header__avatar {
  // margin-top: 9.5rem;
  @include phone {
    // margin-top: 5.7rem;
  }
}
.header__avatar-text {
  margin-top: 1.9rem;
}

.header__burger {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  margin-top: 1.6rem;
  margin-right: 1.9rem;

  @include phone {
    margin-top: 0.65rem;
    margin-right: 0.8rem;
  }


  &.fixed {
    position: fixed;
  }
}

.main-menu {

  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  @include fullscreen;
  background-color: rgba($color_welcome_nav, 0.85);
  transform: translateX(100%);
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  &.main-menu--open {
    transform: translateX(0);
  }
}
.main-menu__list {
  text-align: center;
}
.main-menu__item {
  padding: 1.5rem 1rem;

}
.main-menu__link {
  color: #fff;
  @include bernier;
  font-size: 2rem;
  position: relative;

  &:before,
  &:after {
    font-size: 2.55rem;
    content: '';
    background-color: rgba(#fff,0.2);
    position: absolute;
    top: 50%;
    margin-top: -0.18rem;
    transition: background 0.3s;
    width: rem(22px);
    height: 5px;

    @include phone {
      width: 1.6575rem;
      height: 0.35rem;
    }
  }
  &:hover:before,
  &:hover:after {
    background-color: #fff;
  }
  &:before{
    left: -3rem;
  }
  &:after {
    right: -3rem;
  }
}



.burger-btn {
  transition: 0.1s all linear;
  position: relative;
  background: 0;
  width: rem(40px);
  height: rem(35px);
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  @include phone {
    width: 1.75rem;
    height: 1.5rem;
  }
}
.burger-btn__bar {

  &, &::before, &::after {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    left: 0;
    margin: auto;
    background: rgba(#fff, 0.5);
    transition: all linear 0.2s;
    border-radius: 2.5px;
    content: '';
    @include phone {
      height: 3px;
      border-radius: 1.5px;
    }
  }

  &::before { 
    top: rem(-15px);
    @include phone {
      top: -0.7rem; 
    }
  }
  &::after { 
    top: rem(15px); 
    @include phone {
      top: 0.7rem; 
    }
  }

  &::before,
  &::after {
    transform: rotate(0deg);
  }


  .burger-btn:hover &,
  .burger-btn:hover &::before,
  .burger-btn:hover &::after {
    background: #fff;
  }
  .burger-btn--active:hover &{
    background: 0;
  }
  .burger-btn--active & {
    background: 0;

    &::before { transform: rotate(45deg); }
    &::after { transform: rotate(-45deg); }

    &::before,
    &::after {
      top: 0;
    }
  }
}








.block {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 50%;
  } 
}