
.header__burger {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  margin-top: 1.6rem;
  margin-right: 1.9rem;

  @include phone {
    margin-top: 0.65rem;
    margin-right: 0.8rem;
  }


  &.fixed {
    position: fixed;
  }
}

.main-menu {

  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;

  @include fullscreen;
  
  transform: translateX(100%);

  display: flex;
  align-items: center;
  justify-content: center;

  &.main-menu--open {
    transform: translateX(0);
  }


  &:before,
  &:after {
    height: 100%;
    width: 50%;
    background-color: rgba($color_welcome_nav, 0.85);
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    transition: transform 0.3s ease-in;
    opacity: 0;
  }
  

  &:before {
    transform: translate3d(-100%, 0, 0);
  }

  &.main-menu--open:before {
      opacity: 1;
      left: 0;
      display: block;
      transform: translate3d(0, 0, 0);
  }

  &:after {
    transform: translate3d(100%, 0, 0);
  }

  &.main-menu--open:after {
    opacity: 1;
    right: 0;
    display: block;
    transform: translate3d(0, 0, 0);
  }


}

.main-menu__list {
  text-align: center;

}

.main-menu__item {
  opacity: 0;
  position: relative;
  z-index: 3;

  .main-menu--open & {
    padding: 1.5rem 1rem;
    opacity: 1;
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: .5s;
  }
  $menu-items: 4;

  @for $i from 1 through $menu-items {
    
    &.main-menu__item--#{$i} { 
      animation-delay: 0.4s + ($i * 0.05s);
    }
  }
}


.main-menu__link {
  color: #fff;
  @include bernier;
  font-size: 2rem;
  position: relative;

  &:before,
  &:after {
    font-size: 2.55rem;
    content: '';
    background-color: rgba(#fff,0);
    position: absolute;
    top: 50%;
    margin-top: -0.18rem;
    transition: background 0.3s;
    width: rem(22px);
    height: 5px;

    @include phone {
      width: 1.6575rem;
      height: 0.35rem;
    }
  }
  &:hover:before,
  &:hover:after {
    background-color: #fff;
  }
  &:before{
    left: -3rem;
  }
  &:after {
    right: -3rem;
  }
}



.burger-btn {
  transition: 0.1s all linear;
  position: relative;
  background: 0;
  width: rem(40px);
  height: rem(35px);
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  @include phone {
    width: 1.75rem;
    height: 1.5rem;
  }
}
.burger-btn__bar {

  &, &::before, &::after {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    left: 0;
    margin: auto;
    background: rgba(#fff, 0.5);
    transition: all linear 0.2s;
    border-radius: 2.5px;
    content: '';
    @include phone {
      height: 3px;
      border-radius: 1.5px;
    }
  }

  &::before { 
    top: rem(-15px);
    @include phone {
      top: -0.7rem; 
    }
  }
  &::after { 
    top: rem(15px); 
    @include phone {
      top: 0.7rem; 
    }
  }

  &::before,
  &::after {
    transform: rotate(0deg);
  }


  .burger-btn:hover &,
  .burger-btn:hover &::before,
  .burger-btn:hover &::after {
    background: #fff;
  }
  .burger-btn--active:hover &{
    background: 0;
  }
  .burger-btn--active & {
    background: 0;

    &::before { transform: rotate(45deg); }
    &::after { transform: rotate(-45deg); }

    &::before,
    &::after {
      top: 0;
    }
  }
}







