.parallax {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include phone {
    display: none;
  }
}

.parallax__layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110%;
  height: auto;
  will-change: transform;
  transition: transform 1s;
}

.parallax__layer-img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;

  @include phone {
    display: none;
  }
}