// wrapper
.wrapper--welcome {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background: url(../img/mountains_for_parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include clearfix;

  display: flex;
  align-items: center;

}

.wrapper--welcome {
  @include clearfix;
}

// footer
.footer--welcome {
  height: 3.75rem;
  margin-top: -3.75rem;
  position: relative;
  line-height: 1.75rem;
  text-align: center;
  background-color: transparent;
  @include clearfix;
}

.footer--welcome__textline {
  display: inline-block;

  padding-left: 0.4rem; 
  &:before {
    content: '|';
    margin-right: 0.4rem;
  }

  &:first-child {
    padding-left: 0;
    &:before {
      content: '';
      margin-right: 0;
    }
  }

  @include roboto-light;
  color: #fff;

  @include phone {
    display: block;

    &:before {
      content: '';
      margin-right: 0;
      padding-left: 0;
    }
  }
}


// login
.welcome__login {

    position: absolute;
    text-align: center;
    right: rem(100px);
    top: rem(24px);

    @include desktop {
      right: 1.15rem;
    }
    @include phone {
      top: 0.8rem;
      right: 50%;
      transform: translate(50%, 0);
    }
}

// nav
.card__welcome-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  font-size: 1rem;
  overflow: hidden;
}

// card
.welcome__card {
  margin-top: 6.25rem;
  width: 23.75rem;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.25rem;
  @include tablet {
    width: 21.75rem;
  }
  @include phone {
    width: 21.5rem;
    height: 28rem;
  }
}

.card {
  width: 100%;
  height: 100%;
  @include clearfix;
  position: relative;
    padding-bottom: 3rem;
}
.card__bg {
  background-color: rgba(#fcfcfc, 0.85);
  border-radius: 5px 5px 0 0;
  height: 100%;
}

// front card
.card__avatar {
  padding-top: 2.85714285rem;
  margin-bottom: 0.75rem;

  @include phone {
    margin-bottom: 1.25rem;
  }
}
.card__social {
}
.avatar__holder {
  border-radius: 50%;
  background-color: #e2e2e2;
  overflow: hidden;
  margin: 0 auto;

  width: 8.5rem;
  height: 8.5rem;
  .card & {
    @include wide {
    }
  }

  @include phone {
    width: 10rem;
    height: 10rem;
  }
}
.avatar__pic {
    display: block;
    height: 100%;
    width: auto;
    margin-left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.card__avatar-text {
  margin-bottom: 1.7rem;
  @include phone {
    margin-bottom: 2rem;
  }
}
.avatar-text {
  color: $color_welcome_title;
  text-align: center;
}
.avatar-text.avatar-text--white {
  color: #fff;
}
.avatar-text__name {
  font-size: 2.15rem;
  line-height: 1.35rem;
  margin-bottom: 0.6rem;
  @include roboto-medium;

  @include phone {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 0.2rem;
  }
  .card &{
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
    @include phone {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 0.5rem;
      margin-top: 1.2rem;
    }
  }
}
.avatar-text__text {
  @include roboto-light;
  font-size: 1rem;
  line-height: 1.5rem;

  @include tablet {
    .body--blog & {
      font-size: 0.85rem;
    }
  }
  @include phone {
    font-size: 1rem;
  }

}


// back card
.card--back {
  text-align: center;
}
