// wrapper
.wrapper--welcome {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 6.25rem;
  background: url(../img/mountains_for_parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include clearfix;
}

.wrapper--welcome {
  @include clearfix;
}

// footer
.footer--welcome {
  height: 6.25rem;
  margin-top: -6.25rem;
  position: relative;
  line-height: 1.75rem;
  padding-top: 2.5rem;
  text-align: center;
  background-color: transparent;
  @include clearfix;
}

.footer--welcome__textline {
  display: block;
  font-family:'Roboto-Light';
  color: #fff;
}


// login
.welcome__login {
  margin-top: 0.714285rem;
  text-align: center;
}

// nav
.card__welcome-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  font-size: 1rem;
  overflow: hidden;
}

// card
.welcome__card {
  margin-top: 2.5rem;
  width: 300px;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  @include clearfix;
  background-color: rgba(#fcfcfc, 0.85);
  position: relative;
}

// front card
.card__avatar {
  margin-top: 2.85714285rem;
}
.card__social {
  margin-top: 2rem;
}
.avatar__holder {
  border-radius: 50%;
  background-color: #e2e2e2;
  overflow: hidden;
  margin: 0 auto;
  width: 9rem;
  height: 9rem;
  @include phones {
    width: 10rem;
    height: 10rem;
  }
}
.avatar__pic {
    display: block;
    height: 100%;
    width: auto;
    margin-left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.card__avatar-text {
  margin-top: 1.25rem;
}
.avatar-text {
  color: $color_welcome_title;
  text-align: center;
}
.avatar-text.avatar-text--white {
  color: #fff;
}
.avatar-text__name {
  font-size: 2.15rem;
  line-height: 1.35rem;
  font-family:'Roboto-Medium';

  @include phones {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.avatar-text__text {
  margin-top: 0.6rem;
  font-family:'Roboto-Light';
  font-size: 1rem;
  line-height: 1.5rem;

  @include phones {
    margin-top: 0.2rem;
  }
}


// back card
.card--back {
  text-align: center;
}
