.testimonials {
  @include clearfix;
  min-height: 650px;
  text-align: center;

  .section-title--about {
    line-height: 4rem;
    padding: 4rem 0 3.6rem;
    @include tablet {
      padding: 2rem 0;
    }
    @include phone {
      padding: 2rem 0 1.5rem;
    }
  }
  .section-title--about .section-title__inner {
    font-size: 3.95rem;
    @include tablet {
      font-size: 3rem;
    }
    @include phone {
      font-size: 2.3rem;
      max-width: 70%;
      line-height: 3.1rem;
    }
  }
  .section-title--card .section-title__inner {
    margin-top: 1.7rem;
    margin-bottom: 1.65rem;
    @include tablet {
      margin-bottom: 1rem;
    }
    @include phone {
      font-size: 1.45rem;
    }
  }
}
.blur {
  position: relative;
}
.blur__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1200px;

  background-repeat: no-repeat;
  background-size: 100% auto;
  @include desktop {
    background-image: url(../img/testimonials-bg.jpg);
  }
  @include wide {
    background-image: url(../img/testimonials-bg-lg.jpg);
  }
  @include tablet {
    min-width: 1200px;
  }

}

.blur__form-wrapper {
  overflow: hidden;
  border-radius: 5px;
}

.blur__form {
  filter: blur(5px);
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 0 0;
  text-align: center;
  @include desktop {
    background-image: url(../img/testimonials-bg.jpg);
  }
  @include wide {
    background-image: url(../img/testimonials-bg-lg.jpg);
  }
}


.testimonials .container {
  @include clearfix;
  max-width: rem(780px);
  margin: 0 auto;
  @include tablet {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }
  @include tablet {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
  }
}
.testimonial__list {
  @include clearfix;
  font-size: 0;
  margin-bottom: 4.5rem;
  text-align: left;
  @include tablet {
    margin-bottom: 3.5rem;
  }
  @include phone {
    margin-bottom: 1.5rem;
  }
}
.testimonial__item {
    position: relative;
    font-size: 1rem;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: rem(20px);
    padding-top: rem(50px);
    @include clearfix;

    &:before {
      font-family: FontAwesome;
      content: "\f10d";
      color: $color_quote;
      font-size: 2.2rem;
      position: absolute;
      top: 0;
      left: 0;

      @include phone {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    @include tablet {
      font-size: 0.85rem;
      padding-top: 2.9rem;
    }
    @include phone {
      font-size: 1rem;
      display: block;
      width: 100%;
      margin-bottom: 2.2rem;
      padding-right: 0;
    }
}
.testimonial__text {
    line-height: 1.7rem;
    margin-bottom: 1.3rem;
    color: $color_welcome_title;
    @include tablet {
      line-height: 1.5rem;
      margin-bottom: 0.9rem;
    }
}
.testimonial__photo {
    float: left;
    width: 4.8rem;
    margin-right: 1rem;
    @include phone {
      width: 3.6rem;
    }
}
.testimonial__pic-wrap {
  border-radius: 50%;
  overflow: hidden;
}
.testimonial__pic {
  display: block;
  width: 100%;
  height: auto;
}
.testimonial__person-info {
  float: left;
  color: $color_slider_skills;
  padding-top: 1rem;
    @include phone {
      padding-top: 0.5rem;
    }
}
.testimonial__name {
  @include roboto-bold;
}
.testimonial__position {
  @include roboto-regular;
}