
.slider {
  @include fullscreen;
  position: relative;
  background-color: $color_slider_bg;

  @include tablet {
    height: auto;
  }
}
.slider__left {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  position: relative;

  @include tablet {
    float: none;
    width: 100%;
    height: auto;
  }

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
    @include tablet {
      display: none;
    }
  }
}
.slider__display {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 70%;
  background-color: $color_slider_right;
  @include tablet {
    position: static;
    padding: 5rem 0 2.5rem;
  }
}
.slider__display img{
  @include centered;
  @include tablet {
    position: static;
  }
}
.slider__info {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  background-color: $color_slider_left;


  @include tablet {
    width: 100%;
    padding: 2.5rem 2.5rem 3.6rem;
  }
}

.slider__skills {
  color: $color_slider_skills;
  border-top: 1px solid $color_slider_skills;
  border-bottom: 1px solid $color_slider_skills;
  padding: 0.95rem 1rem 0.9rem;
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
  @include tablet {
    margin-top: 0.7rem;
    margin-bottom: 1.2rem;
  }
}

.slider__btn .btn{
  @extend .btn;
  @include roboto-regular;
  padding: 0.95rem 1.15rem 0.75rem;
  background-color: $color_welcome_nav;
  color: #fff;
  &:hover {
    background-color: rgba($color_welcome_nav_hover, 0.85);
  }
  .fa {
    font-size: 1.35rem;
    padding-right: 0.9rem;
    vertical-align: middle;
  }
}
.slider__right {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  background-color: $color_slider_right;

  @include tablet {
    float: none;
    position: static;
    width: 100%;
  }
}
.slider__controls {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 30%;
  width: 100%;
  @include clearfix;

  @include tablet {
    position: static;
    height: auto;
  }
}
.slider__control {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
  img {
    @include centered;
    width: 100%;
    height: auto;

    @include tablet {
      position: static;
    }
  }
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($slider_preview_hover, 0.7);
  }
  &:after{
    content: '';
    @include centered;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.slider__control--prev:after {
    background-image: url(../img/portf_arrow_down.svg);

  }
  &.slider__control--next:after {
    background-image: url(../img/portf_arrow_up.svg);
  }

  @include tablet {
    max-height: 13.4rem;
  }
}

.testimonials {
  @include clearfix;
  min-height: 650px;
  background-image: url(../img/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  // background-attachment: fixed;

  .section-title--about {
    line-height: 4rem;
    padding: 4rem 0 3.6rem;
    @include tablet {
      padding: 2rem 0;
    }
  }
  .section-title--about .section-title__inner {
    font-size: 3.95rem;
    @include tablet {
      font-size: 3rem;
    }
  }
  .section-title--card .section-title__inner {
    margin-top: 1.7rem;
    margin-bottom: 1.65rem;
    @include tablet {
      margin-bottom: 1rem;
    }
  }
}
.testimonials .container {
  @include clearfix;
  max-width: rem(780px);
  margin: 0 auto;
  @include tablet {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }
}
.testimonial__list {
  @include clearfix;
  font-size: 0;
  margin-bottom: 4.5rem;
  text-align: left;
  @include tablet {
    margin-bottom: 3.5rem;
  }
}
.testimonial__item {
    position: relative;
    font-size: 1rem;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: rem(20px);
    padding-top: rem(50px);
    @include clearfix;

    &:before {
      font-family: FontAwesome;
      content: "\f10d";
      color: $color_quote;
      font-size: 2.2rem;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include tablet {
      font-size: 0.85rem;
      padding-top: 2.9rem;
    }
    @include phone {
      display: block;
      width: 100%;
      margin-bottom: 4rem;
    }
}
.testimonial__text {
    line-height: 1.7rem;
    margin-bottom: 1.3rem;
    color: $color_welcome_title;
    @include tablet {
      line-height: 1.5rem;
      margin-bottom: 0.9rem;
    }
}
.testimonial__photo {
    float: left;
    width: 4.8rem;
    margin-right: 1rem;
}
.testimonial__pic-wrap {
  border-radius: 50%;
  overflow: hidden;
}
.testimonial__pic {
  display: block;
  width: 100%;
  height: auto;
}
.testimonial__person-info {
  float: left;
  color: $color_slider_skills;
  padding-top: 1rem;
}
.testimonial__name {
  @include roboto-bold;
}
.testimonial__position {
  @include roboto-regular;
}