header.header
  .header__social
    +socials_navigation("social", "social--header", content.socials)


  .header__avatar
    .avatar
      .avatar__holder
        img.avatar__pic(src="assets/img/kholyavkina.jpg", alt="")
  .header__avatar-text
    block avatar-text
      .avatar-text.avatar-text--white
        .avatar-text__name Екатерина Холявкина
        .avatar-text__text Личный сайт веб разработчика



  svg(class="defs-only" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    symbol(id="left-triangle")
      svg(viewBox="0 0 1 1" preserveAspectRatio="none")
        polygon(points="0,0 1,1 0,1")
    symbol(id="right-triangle")
      svg(viewBox="0 0 1 1" preserveAspectRatio="none")
        polygon(points="1,0 1,1 0,1")

  .header__triangle.header__triangle--left
    svg
      use(xlink:href="#left-triangle")
  .header__triangle.header__triangle--right
    svg
      use(xlink:href="#right-triangle")
  .header__scroll-control
    a(href="#").scroll-control.scroll-control--down