.preloader
  .preloader__percents-holder
    .preloader__image

      .preloader__svg
        .preloader__circle.preloader__circle1
        .preloader__circle.preloader__circle2
        .preloader__circle.preloader__circle3
        .preloader__percents 0