

// titles
.section-title {
  text-align: center;
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2rem;

  @include phone {
    font-size: 1.55rem;
    max-width: 10em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .slider__info & {
    max-width: none;
    font-size: 1.85rem;
    @include phone {
      font-size: 1.45rem;
      max-width: 80%;
      padding-bottom: 1.2rem;
    }
  }
  &.section-title--small {
    max-width: 14rem;

    @include tablet {
      font-size: 1.875rem;
    }
    @include phone {
      max-width: 13rem;
    }
  }
  &.section-title--card {
    font-size: 1.85rem;
    padding-top: 0;
    padding-bottom: 0;
    @include phone {
      font-size: 2.15rem;
    }
  }

  &.section-title--bg {
    @include clearfix;
    max-width: 28rem;
    padding: 2.9rem 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    font-size: 4.15rem;

    @include tablet {
      margin-top: 0;
      font-size: 3.15rem;
    }
    @include phone {
      font-size: 2.55rem;
    }
  }

}

.section-title--bg.section-title--works {
  margin-top: -0.7rem;
  margin-bottom: -0.5rem;
  min-width: 30rem;
  padding: 3.6rem 0;
  @include tablet {
    padding: 1.85rem 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include phone {
    min-width: 0;
  }

}

.section-title__inner {
  color: $color_welcome_title;
  @include bernier;
  position: relative;
  display: inline-block;

  @include phone {
  }

  &:before,
  &:after {
    font-size: 2.55rem;
    content: '';
    background-color: rgba(#373e42, 0.2);
    position: absolute;
    width: 1.6575rem;
    height: 0.35rem;
    top: 50%;
    margin-top: -0.18rem;
  }
  &:before{
    left: -3rem;
    @include phone {
      left: -2rem;
    }
  }
  &:after {
    right: -3rem;
    @include phone {
      right: -2rem;
    }
  }

  .section-title--card &{
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include phone {
      margin-top: 2.365rem;
      margin-bottom: 2.35rem;
    }
  }

  .section-title--small & {
    margin-top: 0.65rem;
    margin-bottom: 1.4rem;

    @include tablet {
      margin-top: 1.25rem;
      margin-bottom: 0.4rem;
    }
    @include phone {
      margin-top: 1.3175rem;
      margin-bottom: 0.775rem;
    }
  }



}



.section-subtitle {
  color: $color_section_subtitle;
  text-align: center;

  font-size: 1.75rem;
  @include phone {
    font-size: 1.5rem;
  }
}


.avatar-text__title {
  @include bernier;
  position: relative;
  display: inline-block;

  font-size: 2.55rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.55rem;

  .body--blog & {
    font-size: 3.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;


    &:before,
    &:after {
      font-size: 2.55rem;
      content: '';
      background-color: #fff;
      position: absolute;
      width: 1.6575rem;
      height: 0.35rem;
      top: 50%;
      margin-top: -0.18rem;
    }

    &:before{
      left: -3rem;
      @include phone {
        left: -3rem;
      }
    }
    &:after {
      right: -3rem;
      @include phone {
        right: -3rem;
      }
    }
    @include tablet {
      font-size: 2.8rem;
      margin-top: 0;
      margin-bottom: 0.4rem;
    }
  }
}



.section-title--about {
  background-image: url("../img/about_header.svg");
  background-position: center -0.7rem;
  @include wide {
    display: inline-block;
    vertical-align: top;
  }

  @include desktop { 
    display: block;
  }
}
.section-title--works {
  background-image: url("../img/works_header.svg");
  background-position: center -0.7rem;
  @include wide {
    // display: inline-block;
    // vertical-align: top;
  }

  @include desktop { 
    display: block;
  }
}