

// titles
.section-title {
  text-align: center;
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2rem;

  &.section-title--bg {
    @include clearfix;
    max-width: 28rem;
    padding: 2.9rem 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    @include tablet {
      margin-top: 0;
    }
  }

  @include phone {
    // font-size: 2.55rem;
    font-size: 1.55rem;
    max-width: 10em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &.section-title--small {
    max-width: 13rem;
  }
  &.section-title--card{
    font-size: 2.15rem;
  }

  &.section-title--bg {
    font-size: 4.15rem;
    @include phone {
      font-size: 2.55rem;
    }
  }

}
.section-title__inner {
  color: $color_welcome_title;
  @include bernier;
  position: relative;
  display: inline-block;

  @include phone {
  }

  &:before,
  &:after {
    font-size: 2.55rem;
    content: '';
    background-color: rgba(#373e42, 0.2);
    position: absolute;
    width: 1.6575rem;
    height: 0.35rem;
    top: 50%;
    margin-top: -0.18rem;
  }
  &:before{
    left: -3rem;
    @include phone {
      left: -3rem;
    }
  }
  &:after {
    right: -3rem;
    @include phone {
      right: -3rem;
    }
  }

  .section-title--card &{
    margin-top: 2.365rem;
    margin-bottom: 2.35rem;
  }

  .section-title--small & {
    margin-top: 0.65rem;
    margin-bottom: 1.4rem;

    @include phone {
      margin-top: 1.3175rem;
      margin-bottom: 0.775rem;
    }
  }



}



.section-subtitle {
  color: $color_section_subtitle;
  text-align: center;

  font-size: 1.75rem;
  @include phone {
    font-size: 1.5rem;
  }
}


.avatar-text__title {
  @include bernier;
  position: relative;
  display: inline-block;

  font-size: 2.55rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.55rem;
}



.section-title--about {
  background-image: url("../img/about_header.svg");
  background-position: center -0.7rem;
  @include wide {
    display: inline-block;
    vertical-align: top;
  }

  @include desktop { 
    display: block;
  }
}
.section-title--works {
  background-image: url("../img/works_header.svg");
  background-position: center -0.7rem;
  @include wide {
    // display: inline-block;
    // vertical-align: top;
  }

  @include desktop { 
    display: block;
  }
}