.slider
  .slider__left
    .slider__display
      .slider__list
        .slider__item.slider__item--active
          img(class="slider__img" src="assets/img/slide-1.png", alt="")
        .slider__item
          img(class="slider__img" src="assets/img/slide-2.png", alt="")
        .slider__item
          img(class="slider__img" src="assets/img/slide-3.png", alt="")
        .slider__item
          img(class="slider__img" src="assets/img/slide-4.png", alt="")
        .slider__item
          img(class="slider__img" src="assets/img/slide-5.png", alt="")
    .slider__info
      .slider__item-info.slider__item-info--active
        .section-title 
          .section-title__inner Сайт ивент-агентства Event Garden
        .slider__skills HTML , CSS
        .slider__btn 
          a(target="_blank" href="http://eventgarden.ru/").btn 
            <i class="fa fa-link" aria-hidden="true"></i>
            span Посмотреть сайт 
      .slider__item-info
        .section-title 
          .section-title__inner Сайт коттеджного комплекса Селигерcкая Заводь
        .slider__skills HTML , CSS, JAVASCRIPT
        .slider__btn 
          a(target="_blank" href="http://domseliger.ru/").btn 
            <i class="fa fa-link" aria-hidden="true"></i>
            span Посмотреть сайт 
      .slider__item-info
        .section-title 
          .section-title__inner Интернет-магазин фермы в Кентукки Marksbury Farm
        .slider__skills HTML , CSS, WORDPRESS, WOOCOMMERCE
        .slider__btn 
          a(target="_blank" href="http://columbiawebsitedevelopment.com/").btn 
            <i class="fa fa-link" aria-hidden="true"></i>
            span Посмотреть сайт 
      .slider__item-info
        .section-title 
          .section-title__inner Сайт школы интернет-маркетинга Empo Pro
        .slider__skills HTML , CSS
        .slider__btn 
          a(target="_blank" href="http://empo.pro/").btn 
            <i class="fa fa-link" aria-hidden="true"></i>
            span Посмотреть сайт 
      .slider__item-info
        .section-title 
          .section-title__inner Сайт Scanr - обучающего курса по распознаванию эмоций
        .slider__skills HTML , CSS, JS, WORDPRESS
        //- .slider__btn
          a(target="_blank" href="").btn 
            <i class="fa fa-link" aria-hidden="true"></i>
            span Посмотреть сайт 
  .slider__right
    .slider__controls

      a(href="").slider__control.slider__control--prev
        span.control__item
          img(class="control__img" src="assets/img/slide-1.png", alt="")
        span.control__item
          img(class="control__img" src="assets/img/slide-2.png", alt="")
        span.control__item
          img(class="control__img" src="assets/img/slide-3.png", alt="")
        span.control__item
          img(class="control__img" src="assets/img/slide-4.png", alt="")
        span.control__item.control__item--active
          img(class="control__img" src="assets/img/slide-5.png", alt="")

      a(href="").slider__control.slider__control--next
        span.control__item
          img(class="control__img" src="assets/img/slide-1.png", alt="")
        span.control__item.control__item--active
          img(class="control__img" src="assets/img/slide-2.png", alt="")
        span.control__item
          img(class="control__img" src="assets/img/slide-3.png", alt="")
        span.control__item
          img(class="control__img" src="assets/img/slide-4.png", alt="")
        span.control__item
          img(class="control__img" src="assets/img/slide-5.png", alt="")