extends ../main.jade
block prepend body
  body.body--about
block title
  title Обо мне
block content
  section.table.table--about
    .row
      .cell.cell--left
        .aboutme
          .section-title.section-title--bg.section-title--about
            .section-title__inner Обо мне
          .about__content
            p.about__photo
              img(class="" src="assets/img/kholyavkina.jpg", alt="Катя Холявкина")
            .section-title.section-title--small 
              .section-title__inner Кто я
            p.
              Я веб разработчик из Украины. Мне 23 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные современные проекты.
            p.
              Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

      .cell.cell--right
        .skills-block
          .about__content
            .section-title.section-title--small
              .section-title__inner 
                | Чем я могу быть 
                | вам полезна
            p.
              Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать несложные задачи на Backend. Но давайте по порядку.
          .skills
            //- +knobList("skills", form)
            - var className = "skills"
            if (skills)
              each group, i in skills

                div(class="section-subtitle section-subtitle--#{className}")= group.name
                ul(class="#{className}__list #{className}__list--#{group.id}")

                  if ( group.items )
                    each title, id in group.items
                      if ( !form )
                        +skillCircle("skills", '50', title)
                      else 
                        each formgroup, formi in form
                          each formvalue, formid in formgroup
                            if (formid == id)
                              +skillCircle("skills", formvalue, title)




  section.section-map
    include ../common/_map

    
    .about__contacts
      .section-title.section-title--contacts
        .section-title__inner Контакты
      +contactList("contacts", contactsList)