.welcome-nav__list { 
  display: table;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.welcome-nav__item {
  display: table-cell;
  font-size: 1rem;
  position: relative;
  padding-left: 2px;
  vertical-align: bottom;

  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    position: absolute;
    background-color: rgba($color_welcome_nav_decor2, 1);
    top: 0;
    left: 0;
  }

  &:first-child {
    padding-left: 0;
  }

  &:first-child:before {
    display: none;
  }
}

.welcome-nav__link {
  display: block;
  color: #ffffff;
  background-color: rgba($color_welcome_nav, 0.85);
  padding: 0.85rem 0.5rem;
  min-width: 4rem;
  text-align: center;
  transition: background-color 0.3s;
  width: 100%;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgba($color_welcome_nav_hover, 0.85);
  }

}

